@page "/tictactoe"
@rendermode InteractiveServer
<h3>TicTacToe</h3>

<table>
    @for (int i = 0; i< 3; i++){
        <tr>
            @for(int j = 0; j < 3; j++){
                <th>@symbol</th>
            }
        </tr>
    }
</table>

@code {
    string symbol = "X";

}
