@page "/tictactoe"
@rendermode InteractiveServer
<h3>TicTacToe</h3>

<h3> Current Player: @symbol </h3>

<div class="container">
	@for(int j = 0; j < 9; j++){
		var i = j;
		<div class="cell" @onclick="@(() => { handleClick(i); })">
			@squares[j]
		</div>
	}
</div>

@code {
	int i = 0;
    string symbol = "X";
	List<string> squares = new List<string> { " ", " ", " ", " ", " ", " ", " ", " ", " " };
	private void handleClick(int index) {
		Console.WriteLine(index);
		if (squares[index] != " ") return;
		squares[index] = symbol;
		symbol = symbol == "X" ? "O" : "X";
	}

}
